body {
    min-height: 100px;
    max-width: 100px;
    background-color: black;
}

nav {
    display: flex;
}

.logo {
    color: white;
}

li {
    display: flex;
}

ul {
    display: flex;
    background-color: black;
}

.i-class {
    color: white;
    align-items: stretch;
}

h2 {
    color: white;
    align-items: center;
}

p {
    color: white;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) "360"
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    650
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    800
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    1000
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    1900
}

;